.App {
  text-align: center;
  background-color: white;
}

.header_container {
  margin: auto;
  width: 100%;
}

.messages_container {
  margin: auto;
  max-width: 800px;
}

.input_container {
  margin: auto;
  max-width: 1000px;
}