.App {
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header_container {
  margin: auto;
  width: 100%;
  flex: 0.3;
}

.messages_container {
  margin: auto;
  max-width: 800px;
  flex: 0.6;
}

.input_container {
  margin: auto;
  width: 90vw;
  flex: 0.1;
}